li {
  display: flex;
  flex: 1 1 auto;
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px;
  font-size: 20px;
  padding: 10px;
  background-color: lightblue;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
}

#questions {
  display: flex;
  flex: 1 1 auto;
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px;
  font-size: 25px;
  padding: 10px;
  background-color: lightblue;
  align-items: flex-start;
}

body {
  background-color: antiquewhite;
  font-family: fantasy;
  display: flex;
  flex-direction: column;
  align-content: space-around;
}

h1 {
  display: flex;
  text-align: center;
  justify-content: center;
}

hr {
  margin-bottom: 50px;
}

#startButton {
  border: 1px solid black;
  border-radius: 5px;
  background-color: lightblue;
  font-family: fantasy;
  padding: 10px 15px;
  text-align: center;
  /* display: inline-block; */
  font-size: 25px;
  cursor: pointer;
  margin-bottom: 50px;
  display: inline;
}

#timerWindow {
  border: 1px solid black;
  border-radius: 5px;
  background-color: lightblue;
  font-family: fantasy;
  padding: 10px 15px;
  text-align: center;
  font-size: 25px;
  margin-bottom: 50px;
  display: inline;
}

#feedbackBox {
  border: 1px solid black;
  border-radius: 5px;
  background-color: lightblue;
  font-family: fantasy;
  padding: 10px 15px;
  text-align: center;
  display: inline-block;
  font-size: 25px;
  cursor: pointer;
  margin-bottom: 50px;
}
